<header class="flex justify-between items-center py-3 w-[1120px]">
    <img class="rounded-full w-20 h-20"
     src="https://media.licdn.com/dms/image/C4E03AQGBPHPmTHYY7A/profile-displayphoto-shrink_400_400/0/1620346258018?e=2147483647&v=beta&t=txuJj6T-7Y8mxDMB2mBLJay7CN7hn2V-8jaXL_c552k" alt="midudev photo"  />

    <nav class="flex flex-row gap-x-10">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>