---
//cargamos la libreria fontsource para texto
// Supports weights 100-900
import "@fontsource-variable/onest"
import Header from "../components/Header.astro"
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	:root {
		/* Cambia los colores de las letras por defecto ya que el fondo es oscuro  */
		color-scheme: dark;
	}

	html {
		/* Llamo a la libreria del tamaño de letra  */
		font-family: "Onest Variable", system-ui, sans-serif;
	}	

	body{
		/* Color de fondo Pagina */
		background: #070707;
		/* Para centrar la imagen  */
		display: flex;
		/* para ajustar mejor el texto */
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
	}
</style>
